										/* Reset Styles */
/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, font, img, dl, dt, dd, ol, ul, li, table, tbody, 
tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}								
																		
									
									
										/* Mix ins */
										
@mixin boxshadow() {
	-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 20px rgba(50, 50, 50, 1);
}
@mixin boxshadowcta() {
	-moz-box-shadow: 0 0 15px 3px #000;
	-webkit-box-shadow: 0 0 15px 3px #000;
	box-shadow: 0 0 15px 3px #000;
}

										/* Body Styles */


html {
	background-image: url("../images/norwegian_rose_@2X.png");	
	background-repeat: repeat-both;
	font-family: Arial, Helvetica, sans-serif;	
}

body {
	margin: 0 auto;
	width: 80%;
	background-color: white;
	@include boxshadow;
}

header {
	float:left;
	width: 100%;
	background: #fff;
	@include boxshadow;
	border: 1px solid #000;
	.big {
		font-size: 54px;	
		font-weight: 400;
		color: #900;
		text-shadow: 1px 2px #666;
	}
	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 200;	
		font-size: 46px;
		letter-spacing: -3px;
		float: left;
		text-align:center;
		width: 100%;
		padding: 1% 0;
	}
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;	
	font-size: 18px;
	letter-spacing: 2px;
	text-align: center;
	width: 70%;
	padding: 2% 15% 0 15%;
}

.column {
	background-image: url(../images/headerbg.png);
	background-size: contain;
	background-repeat: no-repeat;	
	background-position: 0px 0px;
	height: 270px;
	float: left;
	width: 31.33333%;
	padding: 0 1%;
		ul, p {
			margin: 25% 18% 6% 18%;
			font: 12px Arial, Helvetica, sans-serif;
			line-height: 16px;
		}
}

#column_2 {
	table {
		width: 80%;
		margin: 0 10%;	
			td,tr,th {
				border: 1px solid #000;
				text-align: center;
			}
			td {
				color: #FFF;
			}
			th {
				background-color: #98811e;
				color: #000;	
				font-size: 20px;
			}
			.odd {
				background-color: #98811e;	
			}
			.even {
				background-color: #660000;
			}
	}
}


												/*Footer*/

footer {
	clear: both;
	text-align:center;
	background-color: #900;
	color: #fff;
	border-top: 3px ridge black;
	line-height:30px;
	height:30px
}




/*Slider Styles*/

.slider {
	background-color: #000;
 	@include boxshadowcta;
	height: 460px;
	width: 680px;
	margin: 20px auto 20px auto;
	overflow: visible;
	position: relative;
}

.sliderbg {
	clear:both;
	background-image: url(../images/pattern_149.gif);	
	border: 5px double #000;
}

/* IMAGE LIST */

#mask {
	overflow: hidden;
	height: 460px;
	ul {
	   margin: 0;
	   padding: 0;
	   position: relative;
	   li { 
		  width: 680px;  /* Width Image */
		  height: 460px; /* Height Image */
		  position: absolute;
		  top: -325px;	/* Original Position - Outside of the Slider */
		  list-style: none;
			 img {
				width: 680px;  /* Width Image */
				height: 460px; /* Height Image */ 	
			  }
		}
	}
}


/* ANIMATION */

.slider li.firstanimation {
   -webkit-animation: cycle 25s linear infinite;		
}

.slider li.secondanimation {
   -webkit-animation: cycletwo 25s linear infinite;	
}

.slider li.thirdanimation {
   -webkit-animation: cyclethree 25s linear infinite;		
}

.slider li.fourthanimation {
   -webkit-animation: cyclefour 25s linear infinite;		
}

.slider li.fifthanimation {
   -webkit-animation: cyclefive 25s linear infinite;		
}

@-webkit-keyframes cycle {

   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}
 
@-webkit-keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Original Position */
   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
 
@-webkit-keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
 
@-webkit-keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclefive {
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 325px; opacity: 0; z-index: 0; }
}											